altair==5.4.0
annotated-types==0.5.0
argparse
av
av==10.0.0
certifi==2024.7.4
decord
decord==0.6.0
einops==0.6.1
fairscale
Fire
gradio_client==0.7.1
gradio==3.37.0
grpcio==1.66.0
httpx==0.27.0
imageio[ffmpeg]
imageio==2.27.0
imageio-ffmpeg==0.4.8
kornia
lpips
matplotlib
matplotlib==3.9.2
mmcv==1.6.0
moviepy
moviepy==1.0.3
natsort
numpy==1.23.5
omegaconf==2.3.0
open_clip_torch
open3d
open-clip-torch==2.17.1
opencv-python==4.8.0.74
pandas
Pillow
Pillow==9.4.0
pip==23.0.1
plotly
plyfile
psutil==5.9.5
pyglet==1.5.0
Pygments==2.18.0
pytorch_msssim
pytorch-lightning==1.9.3
PyYAML==6.0
roma==1.5.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
starlette==0.38.2
taming-transformers-rom1504
tensorboard==2.12.2
tifffile==2024.8.24
timm==0.6.13
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.28.1
trimesh==4.4.3
triton
wandb
webdataset
xformers==0.0.16
yarl==1.9.4
huggingface-hub[torch]>=0.22
clip @ git+https://github.com/openai/CLIP.git
